<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div>
    <title>Getting Started: Serving Web Content</title>
    <div th:insert="~{fragments/common :: common}"></div>
    <div class="container mt-5">
<h2>
    <div sec:authorize="!isAuthenticated()">
        <div>
            Hello, Unknown. Please <a th:href="@{/login}">Login</a>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <div>Hello, <b th:text="${name}">User</b>
        <a th:href="@{/main}">Main page</a>
        </div>
    </div>
</h2>
</div>
</div>
<div th:insert="~{fragments/js :: js}"></div>
</body>
</html>