<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Main</title>
    <div th:insert="~{fragments/common :: common}"></div>
    <div class="container mt-5">

        <form th:action="@{/main}" method="get">
            <div class="col-md-6">
                <input type="text" name="field" class=form-control th:value="${field}" placeholder="Serach by tag">
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
<form th:action="@{/main}" th:object="${message}" method="post" enctype="multipart/form-data">
    <p>Text: <input type="text" th:field="*{text}" placeholder="Enter message"></p>
    <p>Tag: <input type="text" th:field="*{tag}" placeholder="Enter Tag"></p>
    <p>File <input type="file" name="file"></p>
    <p><input type="submit" value="Submit"></p>
</form>
<span>List of messages:</span>
<table>
    <tr th:each="message : ${messages}">
        <td><span th:text="${message.getId()}">Id</span></td>
        <td><span th:text="${message.getText()}">Text</span></td>
        <td><span th:text="${message.getTag()}">Tag</span></td>
        <td><span th:text="${message.getAuthorName()}">Author</span></td>
        <td><img th:if="${message.fileName != null}" th:src="@{/img/{imgName}/(imgName=${message.getFileName})}"></td>
    </tr>
</table>
    </div>
    <div th:insert="~{fragments/js :: js}"></div>
</body>
</html>