<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration</title>
    <div th:insert="~{fragments/common :: common}"></div>
    <div class="container mt-5">
<form th:action="@{/registration}" th:object="${user}" method="post">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"> User name: </label>
        <div class="col-sm-6">
            <input type="text" name="userName" class="form-control" placeholder="User name" th:field="*{userName}"/>
            <ul>
                <li th:each="err : ${#fields.errors('userName')}" th:text="${err}" class="error" />
            </ul>
        </div>
    </div>
    <div class="form-group row mt-1">
            <label class="col-sm-2 col-form-label"> Password: </label>
            <div class="col-sm-6">
                <input type="password" name="password" class="form-control" placeholder="Password" th:field="*{password}"/>
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error" />
                </ul>
                <div th:if="${passwordError != null}" th:text="${passwordError}"/>
            </div>
    </div>
    <div class="form-group row mt-1">
        <label class="col-sm-2 col-form-label"> Confirm Password: </label>
        <div class="col-sm-6">
            <input type="password" name="password2" class="form-control" placeholder="Confirm Password"/>
            <div th:if="${password2Error != null}" th:text="${password2Error}"/>
        </div>
    </div>

    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label"> Email: </label>
        <div class="col-sm-6">
            <input type="email" name="email" class="form-control" placeholder="Email" th:field="*{email}"/>
            <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error" />
            </ul>
        </div>
    </div>

    <div>
        <div class="g-recaptcha" data-sitekey="6LcWF3ojAAAAAJmdn26mNHR9KT9lCbxMbGw_0D9o"></div>
        <div class="alert alert-danger" th:text="${captchaError}"/>
    </div>

    <button class="btn btn-primary" type="submit">Sign up</button>
</form>
    </div>
    <div th:insert="~{fragments/js :: js}"></div>
</body>
</html>