<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
List of Users:
<table>
    <tr>
        <th>Name</th>
        <th>Roles</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.getUserName()}">Id</span></td>
        <td><span th:text="${user.getRoles()}">Text</span></td>
        <td><a th:href="@{/users/{id}/(id=${user.id})}">edit</a></td>
    </tr>
</table>
</body>
</html>