<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <div th:insert="~{fragments/common :: common}"></div>
    <div class="container mt-5">
List of Users:
<table>
    <tr>
        <th>Name</th>
        <th>Roles</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.getUserName()}">Id</span></td>
        <td><span th:text="${user.getRoles()}">Text</span></td>
        <td><a th:href="@{/users/{id}/(id=${user.id})}">edit</a></td>
    </tr>
</table>
    </div>
    <div th:insert="~{fragments/js :: js}"></div>
</body>
</html>